.side-nav {
  h1 {
    background-color: rgba(255, 255, 255, 0.70);
    line-height: 2.8rem;
    padding-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
  }
  .user-view .background {
    height: 400px;
    margin-bottom: 5rem;
  }
}
