<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Vampire{% endblock %}</title>
    {% block stylesheets %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
    {% endblock %}

</head>
<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black">
            <a data-activates="slide-out"
               class="button-collapse waves-effect waves-light show-on-medium-and-up black" href="#"><i
                        class="large material-icons">menu</i></a>
            <a href="{{ path('homepage') }}" class="brand-logo center navbar-title flow-text">Vampire</a>

        </div>
    </nav>
</div>
{% include 'navbar.html.twig' %}

    {% block body %}{% endblock %}
    {% include 'character_modal.html.twig' %}


    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</body>
</html>



