{% extends 'base.html.twig' %}

{% block body %}
    <div class="parallax-container homepage">
        <div class="parallax"><img src="{{ asset('/assets/images/mask-plus-petite.jpg') }}">
        </div>
    </div>
    <div class="homepage-description container">
        <h1 class="center-align red-text text-darken-4">Vampire - Requiem</h1>
        <div class="row">
            <div class="col s12 m4 center">
                <i class="large material-icons red-text text-darken-4">flash_on</i>
                <h4 class="promo-caption red-text text-darken-4">Lorem Ipsum</h4>
                <p class="light">at ornare quam nulla quis sem. Sed eget dapibus purus. Nulla augue orci,
                    molestie ac ullamcorper eget, hendrerit eget se, hendrerit eget sem. Praesent tincidunt mauris eu varius placerat. Aenean sem
                    lacus, suscipit at vulputate a, luctus at massa. Mauris eget enim vel elit pretium ullamcorper. Pellentesque
                    habitant morbi tristique senectus</p>
            </div>
            <div class="col s12 m4  center">
                <i class="large material-icons red-text text-darken-4">group</i>
                <h4 class="promo-caption red-text text-darken-4">Lorem Ipsum</h4>
                <p class="light center">at ornare quam nulla quis sem. Sed eget dapibus purus. Nulla augue orci,
                    molestie ac ullamcorper eget, hendrerit eget se hendrerit eget sem. Praesent tincidunt mauris eu varius placerat. Aenean sem
                    lacus, suscipit at vulputate a, luctus at massa. Mauris eget enim vel elit pretium ullamcorper. Pellentesque
                    habitant morbi tristique senectus</p>
            </div>
            <div class="col s12 m4 center">
                <i class="large material-icons red-text text-darken-4">settings</i>
                <h4 class="promo-caption red-text text-darken-4">Lorem Ipsum</h4>
                <p class="light center">at ornare quam nulla quis sem. Sed eget dapibus purus. Nulla augue orci,
                    molestie ac ullamcorper eget, hendrerit eget se hendrerit eget sem. Praesent tincidunt mauris eu varius placerat. Aenean sem
                    lacus, suscipit at vulputate a, luctus at massa. Mauris eget enim vel elit pretium ullamcorper. Pellentesque
                    habitant morbi tristique senectus</p>
            </div>
        </div>
    </div>
    <div class="parallax-container homepage">
        <div class="parallax"><img src="{{ asset('/assets/images/gloomy-1571207_1920.jpg') }}">
        </div>
    </div>
    <div class="homepage-description container">
        <h1 class="center-align deep-purple-text text-darken-4">Lorem -Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin, lacus quis cursus convallis,
            sapien dui consectetur dui, at ornare quam nulla quis sem. Sed eget dapibus purus. Nulla augue orci,
            molestie ac ullamcorper eget, hendrerit eget sem. Praesent tincidunt mauris eu varius placerat. Aenean sem
            lacus, suscipit at vulputate a, luctus at massa. Mauris eget enim vel elit pretium ullamcorper. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam tincidunt faucibus
            nisi, sit amet porta augue euismod non. Nulla lacinia diam ligula, non dictum velit accumsan fringilla.
            Vivamus quis sapien rhoncus, ultrices tellus a, interdum justo. Duis sollicitudin et tellus sed ultricies.
            Nulla dignissim feugiat eleifend. Morbi suscipit lacus id dignissim efficitur. Cras imperdiet orci sed
            venenatis laoreet.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin, lacus quis cursus convallis,
            sapien dui consectetur dui, at ornare quam nulla quis sem. Sed eget dapibus purus. Nulla augue orci,
            molestie ac ullamcorper eget, hendrerit eget sem. Praesent tincidunt mauris eu varius placerat. Aenean sem
            lacus, suscipit at vulputate a, luctus at massa. Mauris eget enim vel elit pretium ullamcorper. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam tincidunt faucibus
            nisi, sit amet porta augue euismod non. Nulla lacinia diam ligula, non dictum velit accumsan fringilla.
            Vivamus quis sapien rhoncus, ultrices tellus a, interdum justo. Duis sollicitudin et tellus sed ultricies.
            Nulla dignissim feugiat eleifend. Morbi suscipit lacus id dignissim efficitur. Cras imperdiet orci sed
            venenatis laoreet.</p>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('/assets/images/lost-places-3215405_1920.jpg') }}">
        </div>
    </div>
{% endblock %}
