{% extends 'base.html.twig' %}

{% block body %}
    <div class="black">
        <div class="container">
            {% if not result.winner %}
                <p>L'adversaire n'a pas encore fait son jet</p>
                <div class="col s12 center-align">
                    <a href="{{ app.request.uri }}" class="waves-effect waves-light btn-large">Rafraichir</a>
                </div>
            {% elseif app.user == result.winner %}
                <div id="successResult"></div>
            {% else %}
                <div id="failResult"></div>
            {% endif %}


                <div class="col s12 center-align">
                    <a href="{{ path('dashboard') }}" class="waves-effect waves-light btn-large white black-text bottomButton">Retour aux actions</a>
                </div>

        </div>
    </div>
{% endblock %}
