{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h3>Résultat</h3>

    {% if not result.winner %}
        <p>L'adversaire n'a pas encore fait son jet</p>
        <div class="col s12 center-align">
            <a href="{{ app.request.uri }}" class="waves-effect waves-light btn-large">Rafraichir</a>
        </div>
    {% elseif app.user == result.winner %}
        <p>Succès</p>
    {% else %}
        <p>Échec</p>
    {% endif %}

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ path('dashboard') }}" class="waves-effect waves-light btn-large">Retour aux actions</a>
        </div>
    </div>
    </div>
{% endblock %}